*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/modules.xml

#Папки ниже указаны в ручном режиме
/.idea/caches
keystore.properties
/test_key
/.scannerwork/
*.apk
/.idea/sonarlint